<div id="events">
  <table class="border-collapse table-auto w-full text-sm">
    <thead>
      <tr>
        <th class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Title</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Description</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Priority</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Projekt</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Date & Time</th>
      </tr>
    </thead>
    <tbody class="bg-white dark:bg-slate-800">
      <% @done_events.each_with_index do |event, i| %>
        <tr class="<%= today_css_background_color_for(event) %>">
          <div id="eventAccordion" class="my-2">
            <%= render event %>
          </div>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>